* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 112.5%;
    margin: 0;
    background-color: #f6f6f6;
    
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,50px);
    justify-items: center;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

h1 {
    margin-top: 0;
    padding-top: 2em;
    color: white;
    font-size: 1.75em;
    font-weight: 200;
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
} 

h3 {
    margin: 0;
    padding-top: 30px;
} 

strong {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    line-height: 2;
}

.logo {
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 1.5em;
}


.nav-link{
    text-decoration: none;
    border-bottom: 2px solid #87642a;
    color: black; 
    font-size: 120%;
}

.img-header {
    background-image: url(/images/dw_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    text-align: center;
} 

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3em;
    width: 200px;

}

.interests {
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    grid-template-rows: 50px repeat(2, 90px 40px);
    grid-row-gap: 1em;
}

.interests-headline {
    grid-column: 1 / -1;
    align-self: center;
}

.graphic-design {
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: flex-end;
    justify-self: center;
    height: 80px;
}

.graphic-design-text {
    grid-row: 3/4;
    grid-column: 2/4;
    align-self: flex-start;
    justify-self: center;
}

.photography {
    grid-row: 2/3;
    grid-column: 4/6;
    align-self: flex-end;
    justify-self: center;
    height: 60px;
}

.photography-text {
    grid-row: 3/4;
    grid-column: 4/6;
    align-self: flex-start;
    justify-self: center;
}

.movies {
    grid-row: 4/5;
    grid-column: 2/4;
    align-self: flex-end;
    justify-self: center;
    height: 80px;
}

.movies-text {
    grid-row: 5/6;
    grid-column: 2/4;
    align-self: flex-start;
    justify-self: center;
}

.videogames {
    grid-row: 4/5;
    grid-column: 4/6;
    align-self: flex-end;
    justify-self: center;
    height: 80px;
}

.videogames-text {
    grid-row: 5/6;
    grid-column: 4/6;
    align-self: flex-start;
    justify-self: center;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.contact {
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #87642a;
    padding: 2.25em 3em;
    color: white;
    text-decoration: none;
}

.contact > a {
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
}

.contact > a > img {
    margin: 0.5em 0.25em 0 0;
}

.connect {
    background-color: black;
    color: white;
    padding-bottom: 2em;
    padding-top: 2.25em;
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect > a {
    padding: 0.75em;
}

.biography {
    background-color: rgb(31, 36, 43);
    padding: 2em 2em 3em 2em;
    color: white;
    font-weight: 200;
}

.biography > h2 {
    margin-bottom: 1.5em;
}

.cv {
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
    padding: 0;
}

.cv:after {
    content: "";
    padding-right: 0.02px;
}

.cv-box-gold {
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6;
    color: #87642a;
    border: 2px solid #87642a;
    list-style: none;
    border-radius: 1em;
    height: 234px;
    padding: 2em 2em 2em 2em;
    margin: 1em 2em 1em 4em;
    flex-shrink: 0;
}

.cv-box-black {
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6;
    color: #000000;
    border: 2px solid #000000;
    list-style: none;
    border-radius: 1em;
    height: 234px;
    padding: 2em 2em 2em 2em;
    margin: 1em 2em 1em 4em;
    flex-shrink: 0;
}

.cv-headline {
    margin-top: 1.25em;
}

footer {
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) { 
   
    h1 {
        padding-top: 2.5em;
        font-size: 2.25em;
    } 

    .img-header {
        height: 400px;
    }   

    .contact-wrapper {
        grid-template-rows: 1fr;
    }

    .contact {
        grid-column: 1/3;
    }

    .connect {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .biography {
        padding: 2em 5em 3em 5em;
    }
}


@media (min-width: 975px) { 

    .img-header {
        background-position: 0 -8em;
    }

    .profile-picture {
        width: 250px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr;
        grid-gap: 0.75em;
        justify-items: center;
        margin-bottom: 1.5em;
        margin-top: 1em;      
    }

    .nav-link{
        border-bottom: 2px solid transparent;
    }

    .nav-link:hover {
        border-bottom: 2px solid #87642a;
    }

    .interests {
        grid-template-rows: 50px 90px 40px;
    }
    .graphic-design {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .graphic-design-text {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    
    .photography {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    
    .photography-text {
        grid-row: 3/4;
        grid-column: 3/4;
    }
    
    .movies {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    
    .movies-text {
        grid-row: 3/4;
        grid-column: 4/5;
    }
    
    .videogames {
        grid-row: 2/3;
        grid-column: 5/6;
    }
    
    .videogames-text {
        grid-row: 3/4;
        grid-column: 5/6;
    }

    .contact {
        grid-column: 1/2;
    }

    .connect {
        grid-column: 2/5;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    
    .connect > h2 {
        display: block;
        width: 100%;
        padding-bottom: 3em;        
    }

    .biography {
        padding: 5em 15em 5em 15em;
    }


}